.chronology {
  text-align: center;
  color: black;
width: 30%;
margin: auto;
  &-panel {
    background-color: black;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    &-itemOdd {
      font-size: 10px;
      // height: 350px;
      margin-top: 160px;
      border-top:2px solid white;
      // border-left: 2px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    &-itemEven {
      font-size: 10px;
      border-top:2px solid white;
      border-right: 2px solid white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h6{
    font-family: 'Times New Roman', Times, serif
    }
  }

  &-btn {
    color: white;
    background-color: transparent;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    margin: auto;
    margin-bottom: -3px;
  }

  .image-container {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &-image {
        width: 100%;
        height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.chronology-line{
    border: 1px white solid;
    width: 1px;
    margin: -6px 49.5%;
    margin-right: 10px;
    height: 20px;
}
.fa-solid{
    font-size: 20px;
    margin-right: 2px;
}