*{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Game of Thrones, Georgia, 'Times New Roman', Times, serif;
    
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.app{
    margin: auto;
    margin-top: 3vw;
  width: 80vw;

}
.simplebar-track.simplebar-vertical {
    background-image: linear-gradient(orange, white, orange);;
}
.audio-control{
    opacity: 0.1;
    transition: 0.3s ease-in-out;
    position: absolute;
}
.audio-control:hover{
opacity: 0.4;
}