*{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Game of Thrones, Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: white;
}