*{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Game of Thrones, Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
}
.app{
    margin: auto;
    margin-top: 100px;
}