* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Game of Thrones, Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.app {
  margin: auto;
  margin-top: 3vw;
  width: 80vw;
}

.simplebar-track.simplebar-vertical {
  background-image: linear-gradient(orange, white, orange);
}

.audio-control {
  opacity: 0.1;
  transition: 0.3s ease-in-out;
}

.audio-control:hover {
  opacity: 0.4;
}

.home {
  background-image: url("https://res.cloudinary.com/dxnzcewsy/image/upload/v1691233098/portfolio/throne_nbfkbu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin-left: -190px;
  margin-top: -100px;
}
.home-h1 {
  font-family: "Game Of Thrones", sans-serif;
  font-size: 176px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.characters {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.scroll-bar {
  height: 70vh;
}

.chronology {
  text-align: center;
  color: black;
  width: 30%;
  margin: auto;
}
.chronology-panel {
  background-color: black;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.chronology-panel-itemOdd {
  font-size: 10px;
  height: 350px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chronology-panel-itemEven {
  font-size: 10px;
  margin-top: 160px;
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chronology-panel h6 {
  font-family: "Times New Roman", Times, serif;
}
.chronology-btn {
  color: white;
  background-color: transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  margin: auto;
  margin-bottom: -3px;
}
.chronology .image-container {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.chronology .image-container-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chronology-line {
  border: 1px white solid;
  width: 1px;
  margin: -6px 50%;
  height: 20px;
}

.fa-solid {
  font-size: 20px;
  margin-left: 2px;
}

.housesGallery {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 19px 156px;
}
.housesGallery-box {
  text-align: center;
}
.housesGallery-box-image {
  width: 200px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
}
.footer-bottom-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 4rem;
  width: 80%;
  background-color: transparent;
  font-size: calc(16px + 0.5vw);
}

.active {
  scale: 1.2;
  transition: 0.3s ease-in-out;
  font-weight: 900;
}

.nav {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 30px auto;
}
.nav-sect {
  position: absolute;
  display: flex;
  right: 150px;
}
.nav-link {
  left: 150px;
}
.nav-link-img {
  width: calc(30px + 1vw);
}

.charactersList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 19px 2vw;
  justify-content: space-between;
  max-height: 70vh;
}
.charactersList-input {
  position: absolute;
  width: 20vw;
  left: 12vw;
  background-color: transparent;
  border: none;
  border-bottom: 1px white solid;
}
.charactersList-gallery-container {
  position: relative;
  width: calc(150px + 1vw);
  height: calc(200px + 1vw);
  overflow: hidden;
  text-align: center;
}
.charactersList-gallery-container-h3 {
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin: 0;
  display: none;
}
.charactersList-gallery-container-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.charactersList-gallery-container:hover .charactersList-gallery-container-h3 {
  display: block;
}

.galleryDetail {
  text-align: center;
  width: 80%;
  margin: auto;
}
.galleryDetail-goBack {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 25px 156px;
}
.galleryDetail-divHouse {
  width: calc(250px + 1vw);
  height: calc(330px + 1vw);
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.galleryDetail-div {
  width: calc(150px + 1vw);
  height: calc(300px + 1vw);
  margin: auto;
  overflow: hidden;
  text-align: center;
}
.galleryDetail-div-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px 0px;
  transition: 0.5s ease;
}
.galleryDetail-section {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
}

.galleryFooterInfo-ul {
  padding: 10px;
  width: 200px;
}
.galleryFooterInfo-ul-h3 {
  padding: 60px 0px 30px 0px;
}
.galleryFooterInfo-ul li {
  font-family: "Times New Roman", Times, serif;
}

.houses {
  width: calc(150px + 1vw);
  height: calc(200px + 1vw);
  overflow: hidden;
  text-align: center;
}
.houses-image {
  width: 150px;
}

.loader {
  text-align: center;
  margin-top: 10%;
}
.loader .lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader .lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}/*# sourceMappingURL=main.css.map */