.nav{
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 30px auto;
  &-sect{
    position: absolute;
    display: flex;
    right: 150px;
  }
  &-link{
    left: 150px;
    &-img{
      width: calc(30px + 1vw);
    }
  }
}