.nav{
  text-align: center;
  align-items: center;
  margin: 30px auto;
  &-sect{
    position: absolute;
    display: flex;
    right: 10vw;
  }
  &-link{
    border-bottom: transparent;
    &-img{
      width: calc(24px + 0.6vw);
    }
  }
}