.nav{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  text-align: center;
  align-items: center;
  margin: 0px auto;
  &-sect{
    display: flex;
  }
  &-link{
    &-img{
      width: calc(30px + 1vw);
    }
  }
}