.housesGallery{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 19px 156px;

    &-box{
        text-align: center;
    
        &-image{
            width: 200px;
        }
    }
}


